<br>
<div class="jumbotron">
  <h1 style="background-color: #A9A9A9;">Welcome to Blocipedia!</h1>
  <p id="index-title">Blocipedia is an application that allows users to make their own wikis.</p>
</div>
